//@import "../node_modules/bootstrap/scss/bootstrap";
#navegacion{
        background: linear-gradient(to right, black, grey);
}


#face{
margin-right: 2%;
//position: relative;
//text-align: center;
transition: transform 1.0s;
transform-style: preserve-3d;
perspective: 1000px;
}
#face:hover  {
    transform: rotateY(360deg);
  }

#insta{
    margin-right: 2%;
}

#whats{
    margin-right: 2%;
}
#login{
    margin-right: 2%;
}


#logo:hover{   
    background-color: transparent;
    position: relative;
    animation-name: movimiento;
  animation-duration: 1s;
  animation-iteration-count: 1;   
}
@keyframes movimiento {
    0%   {background-color:transparent; left:0px; top:0px;}
    50%  {background-color:transparent; left:50px; top:0px;}
    100% {background-color:transparent; left:0px; top:0px;}
}

#banner{ 

    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 100vh;
        background-image: url(/image/fondo.jpg) ;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
}
#saludo{
    width: 95%;
    height: auto;
    border: 3px solid white;
    box-shadow: 1px 1px 10px white, -1px -1px 10px white;
    background-color: rgba($color: #ffffff, $alpha: 0.45);
}
#profesion{
    margin-left: 25%;
color: blue;
    }
#nombre{
    margin-left: 25%;
    color: white;
    text-shadow: 2px 2px 4px #000000   
}

#imagen-about{
    height: auto;
    box-sizing: inherit;
    margin: 0px auto;
    padding: 100px 0px;
    align-self: center;
}
#fotomia{
    display: flex;
   border-radius: 50%;
   padding: 1%;
   margin: 0px auto;
   width: 50%;
   height: auto;
}
#about{
    align-self: center;
    height: auto;
    margin: 0px auto;
    padding: 100px 0px;
}
